<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="thead-dark">
            <th>번호</th>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        {% if title_list %}
        {% for title in title_list %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>
               {{ title.title }}
            </td>
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>